@custom-selector :--interactive label, button, .interactive;

.chip {
	/* Public customizable props */
	--chip-radius: var(--radius-full);
	--chip-nesting: var(--base-nesting);

	/* Private props */
	--_chip-block-size: calc(var(--base-block-size) - 2 * var(--chip-nesting));
	--_nested-block-size: calc(var(--base-block-size) - 2 * var(--chip-nesting));
	--_nested-radius: calc(var(--chip-radius) - var(--chip-nesting)); /* Base */
	user-select: none;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	height: var(--_chip-block-size);
	min-width: var(--_chip-block-size);
	padding: var(--base-inline-padding);
	border-radius: var(--chip-radius);
	gap: 0.5em;
	font-weight: 450;
	transition:
		all var(--duration-xfast) ease-out,
		transform var(--duration-xslow) var(--ease-out-expo);

	& > * {
		--base-block-size: var(--_nested-block-size);
		--base-radius: var(--_nested-radius);
	}

	.chip-button {
	}

	.chip-content {
	}

	/* Children icons */
	& > :--icon,
	.chip-icon {
		width: 1.25em;
		stroke-width: 2;
		stroke-linecap: square;
		stroke-linejoin: round;
		flex: none;
	}

	&:--interactive {
		cursor: pointer;
	}

	/* States */

	/* Pointerdown */
	&:active {
		&:--interactive {
			animation: var(--animation-press);
		}
	}

	/* Hover */
	&:hover {
	}

	/* Toggled */
	:--checked {
	}

	/* Variants */

	/* Default */
	&:not(.outlined) {
		border: var(--base-border-dim);
		background-color: color-mix(in srgb, var(--color-neutral-500) 10%, transparent);
		:--dark & {
		}

		&:hover {
			background-color: color-mix(in srgb, var(--color-neutral-500) 20%, transparent);
			:--dark & {
			}
		}

		&:has(:checked),
		&[data-state='checked'] {
			color: var(--color-neutral-200);
			border-color: var(--color-neutral-900);
			background-color: color-mix(in srgb, var(--color-neutral-800) 90%, transparent);
			:--dark & {
				color: var(--color-neutral-800);
				border-color: var(--color-neutral-100);
				background-color: color-mix(in srgb, var(--color-neutral-200) 90%, transparent);
			}
		}
	}

	/* Outlined */
	&.outlined {
		border: var(--base-border);
	}

	&.ghost {
	}
}
