/*
Label stack for grouped element(s)
*/
.label-group {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	.label {
		display: flex;
		flex-direction: row;
		gap: 1em;
		align-items: center;
		font-weight: 450;
		font-size: clamp(var(--size-xs), var(--ratio-small), var(--size-md));
		padding-inline: 0.5em;
		transition: all var(--duration-medium) var(--ease-out-expo);

		&.with-hover {
			opacity: 0;
			transform: translateY(0.5em);
		}
	}

	&:hover,
	&:focus-within {
		.label {
			opacity: 1;

			&.with-hover {
				transform: translateY(0);
			}
		}
	}
}
