/*
Pill-shaped or chip-like elements for list of tags and other uses.
*/
.chip {
	--base-radius: var(--radius-full);
	--chip-size: calc(var(--base-size) - 0.75em);
	position: relative;
	user-select: none;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	height: var(--chip-size);
	min-width: var(--chip-size);
	padding: var(--base-inset);
	border-radius: var(--base-radius);
	gap: 0.5em;
	font-weight: 450;
	transition:
		all var(--duration-xfast) ease-out,
		transform var(--duration-xslow) var(--ease-out-expo);

	&:focus-visible {
		outline: var(--base-focus-ring);
	}
	&:disabled,
	&[data-disabled] {
		cursor: default;
		opacity: 0.5;
	}

	&.square,
	&.round {
		justify-content: center;
		padding-inline: 0;
		aspect-ratio: 1;
		.button-icon {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.round {
		border-radius: var(--radius-full);
	}

	&:active,
	[data-active] {
		animation: var(--animation-press);
	}

	.chip-icon {
		width: 1.25em;
		stroke-width: 2;
		stroke-linecap: square;
		stroke-linejoin: round;
		flex: none;
	}

	.chip-input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}

	& > * {
		--base-size: calc(var(--chip-size) - 2 * var(--chip-inset));
	}

	.chip-label {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 calc(var(--base-padding) - var(--base-inset));
	}

	/*
	Default variant
	*/
	&:not(.outlined, .ghost) {
		border: var(--base-border-dim);
		background-color: color-mix(in srgb, var(--color-neutral-500) 10%, transparent);
		:--dark & {
		}

		&:hover {
			background-color: color-mix(in srgb, var(--color-neutral-500) 20%, transparent);
			:--dark & {
			}
		}

		&:has(:checked),
		&[data-state='checked'] {
			color: var(--color-neutral-200);
			border-color: var(--color-neutral-900);
			background-color: color-mix(in srgb, var(--color-neutral-800) 90%, transparent);
			:--dark & {
				color: var(--color-neutral-800);
				border-color: var(--color-neutral-100);
				background-color: color-mix(in srgb, var(--color-neutral-200) 90%, transparent);
			}
		}
	}

	/*
	Outlined variant
	*/
	&.outlined {
		border: var(--base-border);
	}

	/*
	Ghost variant
	*/
	&.ghost {
	}
}
