/*
Primitive input component
*/
.input {
	padding: 0 var(--base-padding);
	text-overflow: ellipsis;
	.input-peer + & {
		padding-left: calc(var(--base-padding) - var(--input-inset));
	}
	.input-affix + & {
		padding-left: 0;
	}
}
textarea.input {
	padding-block: calc(var(--base-padding) - 0.3em);
	line-height: 1.6em;
	min-height: var(--base-size);
}
.input-group {
	.input {
		background-color: transparent;
		align-self: stretch;
		border-radius: inherit;
		outline: none;
		flex: 1;
	}
}
.input:not(.input-group *),
.input-group {
	--input-inset: var(--base-inset);
	--input-radius: var(--base-radius);
	--_base-size: calc(var(--base-size) - 2 * var(--input-inset));
	--_base-radius: calc(var(--input-radius) - var(--input-inset));
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: var(--input-radius);

	&:has(textarea) {
		flex-direction: column;
		height: auto;
		align-items: stretch;

		.input-peer {
			justify-content: flex-end;
		}
	}

	&:not(textarea):not(:has(textarea)) {
		height: var(--base-size);
	}

	&:hover {
		.input-icon {
			opacity: 1;
		}
	}

	&:focus,
	&:has(.input:focus) {
		outline: var(--base-focus-ring);

		.input-icon {
			opacity: 0.9;
		}
	}

	.input-peer {
		--base-size: var(--_base-size);
		--base-radius: var(--_base-radius);
		display: flex;
		gap: var(--input-inset);
		flex-direction: row;
		margin: var(--input-inset);
	}
	:not(:has(textarea)) {
		.input-icon + .input-peer {
			margin-left: 0;
		}
		.input + .input-peer {
			margin-left: 0;
		}
	}

	.input-affix {
		height: var(--base-size);
		display: flex;
		align-items: center;
		padding: 0 var(--base-padding);
		transition: all var(--duration-medium) ease-out;
		.input + & {
			padding-left: 0;
		}
	}

	.input-icon {
		flex: none;
		width: 1.1em;
		stroke-width: 2.25;
		opacity: 0.5;
		transition:
			opacity var(--duration-medium) ease-out,
			transform var(--duration-fast) ease-out;
		&:last-child {
			margin-right: var(--base-padding);
		}
	}
	.input-peer + .input-icon {
		margin-left: calc(var(--base-padding) - var(--input-inset));
	}
	.input-icon:first-child {
		margin-left: var(--base-padding);
	}

	/*
	Default variant
	*/
	&:not(.outlined) {
		font-weight: 350;
		color: var(--color-neutral-700);
		background-color: color-mix(in srgb, var(--color-neutral-500) 10%, transparent);
		:--dark & {
			color: var(--color-neutral-300);
		}
		&:hover {
			color: var(--color-neutral-800);
			box-shadow: 0 0 0 var(--base-border-size) rgba(0, 0, 0, 0.1);
			:--dark & {
				color: var(--color-neutral-200);
				box-shadow: 0 0 0 var(--base-border-size) rgba(255, 255, 255, 0.1);
			}
			.input-affix {
				opacity: 0.5;
			}
			&[data-invalid],
			&:has([data-invalid]) {
				box-shadow: none;
				:--dark & {
					box-shadow: none;
				}
			}
		}
		&[data-invalid],
		&:has([data-invalid]) {
			color: var(--color-error-600);
			background-color: color-mix(in srgb, var(--color-error-500) 10%, transparent);
			outline-color: var(--color-error-500);
			:--dark & {
				color: var(--color-error-400);
			}
		}
		&:focus,
		&:has(.input:focus) {
			color: var(--color-neutral-800);
			background-color: white;
			box-shadow: none;
			:--dark & {
				color: var(--color-neutral-200);
				background-color: color-mix(in srgb, var(--color-neutral-950) 25%, transparent);
			}
			.input-affix {
				opacity: 0.75;
			}
			&[data-invalid],
			&:has([data-invalid]) {
				color: var(--color-error-700);
				background-color: color-mix(in srgb, var(--color-error-500) 10%, transparent);
				:--dark & {
					color: var(--color-error-300);
				}
			}
		}
		&[data-loading] {
			color: color-mix(in srgb, var(--color-neutral-500) 50%, transparent);
			transform: scale(0.95);
			pointer-events: none;
			transition: all var(--button-duration-out) ease-out;
		}
		.input-affix {
			opacity: 0.35;
		}
	}

	/*
	Outlined variant
	*/
	&.outlined {
		color: var(--color-neutral-800);
		border: var(--base-border);
		:--dark & {
			color: var(--color-neutral-200);
		}
		&:hover {
			color: var(--color-neutral-950);
			background-color: color-mix(in srgb, var(--color-neutral-400) 25%, transparent);
			border-color: transparent;
			:--dark & {
				color: var(--color-neutral-50);
				background-color: color-mix(in srgb, var(--color-neutral-600) 25%, transparent);
				border-color: transparent;
			}
		}
		&:focus,
		&:has(.input:focus) {
			background-color: white;
			:--dark & {
				background-color: color-mix(in srgb, var(--color-neutral-950) 25%, transparent);
			}
		}
		&[data-loading] {
			color: color-mix(in srgb, var(--color-neutral-500) 50%, transparent);
			transform: scale(0.95);
			pointer-events: none;
			transition: all var(--button-duration-out) ease-out;
		}
	}
}
