.pattern-dots {
	--pattern-size: 1rem;
	--pattern-color: var(--color-neutral-500);
	--pattern-thickness: 6px;
	--_dot-size: calc(var(--pattern-thickness) / 2);
	background: radial-gradient(
		circle at 50% 50%,
		var(--pattern-color) var(--_dot-size),
		transparent calc(var(--_dot-size) + 1%)
	);
	background-size: var(--pattern-size) var(--pattern-size);
	background-repeat: repeat;
}

.pattern-cross {
	--pattern-color: color-mix(in srgb, var(--color-neutral-500) 50%, transparent);
	--pattern-thickness: 2px;
	--pattern-size: 4rem;
	--_thickness: calc(var(--pattern-thickness) / 2);
	--_offset: var(--pattern-thickness);
	background: radial-gradient(
			circle at 50% 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% - var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% - var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% + var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% + var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% - 2 * var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% - 2 * var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% + 2 * var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% + 2 * var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% - 3 * var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% - 3 * var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at 50% calc(50% + 3 * var(--_offset)),
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		),
		radial-gradient(
			circle at calc(50% + 3 * var(--_offset)) 50%,
			var(--pattern-color) var(--_thickness),
			transparent calc(var(--_thickness) + 1%)
		);
	background-size: var(--pattern-size) var(--pattern-size);
	background-repeat: repeat;
	background-position: center;
}
