/*
Primitive toggle styles. Akin to button with checked state.
*/
.toggle {
	--toggle-size: var(--base-size);
	--toggle-bar-size: 6px;
	--_toggle-thumb-expansion: 10%;
	cursor: pointer;
	position: relative;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	height: var(--toggle-size);
	width: calc(1.75 * var(--toggle-size));
	border-radius: var(--radius-full);
	user-select: none;
	transition: all var(--duration-medium) var(--ease-out-expo);

	&::before {
		--_toggle-bar-inset: calc(var(--toggle-size) * 0.5 - var(--toggle-bar-size));
		content: '';
		position: absolute;
		border-radius: var(--radius-full);
		height: var(--toggle-bar-size);
		left: var(--_toggle-bar-inset);
		right: var(--_toggle-bar-inset);
		transition: all var(--duration-medium) ease-out;
	}

	+ .toggle-label {
		margin-left: 0.5em;
		margin-right: var(--base-padding);
	}

	.toggle-input {
		z-index: 1;
		/* visibility: collapse; */
		/* position: absolute;
		width: 0;
		height: 0;
		opacity: 0; */
	}

	.toggle-thumb {
		position: absolute;
		transform-origin: left;
		height: var(--toggle-size);
		width: var(--toggle-size);
		border-radius: var(--radius-full);
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		transition:
			all var(--duration-medium) var(--ease-out-expo),
			color 0s;
	}

	.toggle-icon {
		width: 1.25em;
		stroke-width: 2;
		stroke-linecap: square;
		stroke-linejoin: round;
		opacity: 0.5;
		transform: scale(1);
		flex: none;
		transition:
			opacity var(--duration-medium) ease-out,
			transform var(--duration-fast) ease-out;
	}
}

.toggle,
.toggle-group {
	&:disabled,
	&[data-disabled],
	&:has(:disabled),
	&:has([data-disabled]) {
		cursor: default;
		opacity: 0.5;
	}

	&:focus-visible {
		.toggle-thumb {
			outline: var(--base-focus-ring);
		}
	}

	&:active,
	&[data-active] {
		.toggle-thumb {
			/* animation: var(--animation-press); */
			width: calc(var(--toggle-size) + var(--_toggle-thumb-expansion));
		}
	}

	&:has(:checked),
	&[data-state='checked'] {
		.toggle-thumb {
			transform-origin: right;
			left: calc(100% - var(--toggle-size));
		}
		&:active,
		&[data-active] {
			.toggle-thumb {
				left: calc(100% - var(--toggle-size) - var(--_toggle-thumb-expansion));
			}
		}
	}

	/*
	Default variant
	*/
	color: var(--color-neutral-800);
	:--dark & {
		color: var(--color-neutral-200);
	}

	&::before {
		background-color: var(--color-neutral-500);
		opacity: 0.2;
	}
	.toggle-thumb {
		box-shadow: var(--shadow-md);
		background-color: var(--color-neutral-300);
		:--dark & {
			background-color: var(--color-neutral-800);
		}
	}
	&:has(:checked),
	&[data-state='checked'] {
		color: var(--color-primary-300);
		:--dark & {
			color: var(--color-primary-200);
		}
		&::before {
			opacity: 0.75;
			background-color: var(--color-primary-800);
			:--dark & {
				background-color: var(--color-primary-700);
			}
		}
		.toggle-thumb {
			background-color: var(--color-primary-600);
			:--dark & {
				background-color: var(--color-primary-500);
			}

			.toggle-icon {
				opacity: 1;
			}
		}
	}
}

.toggle-group {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: var(--radius-full);

	.toggle-label {
		margin-left: var(--base-padding);
		margin-right: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex: 1;

		+ .toggle {
			margin-left: 0.5em;
		}
	}
}
