/*
Toolbar preset to nest inputs with proper inset and consequentially updated base style props.
*/
.toolbar {
	--toolbar-inset: var(--base-inset);
	--toolbar-radius: var(--base-radius);
	--toolbar-size: var(--base-size);
	--_base-size: calc(var(--toolbar-size) - 2 * var(--toolbar-inset));
	--_base-radius: calc(var(--toolbar-radius) - var(--toolbar-inset));
	padding: var(--toolbar-inset);
	border-radius: var(--toolbar-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 3px;
	flex: none;

	&[data-orientation='vertical'] {
		flex-direction: column;
		align-items: stretch;
	}

	& > * {
		--base-size: var(--_base-size);
		--base-radius: var(--_base-radius);
	}
}
