.heading,
.prose :is(h1, h2, h3, h4, h5, h6) {
	font-optical-sizing: auto;
}

.heading.xxl,
.prose h1 {
	font-weight: 500;
	font-size: var(--size-5xl);
	line-height: 1.1;
}
.heading.xl,
.prose h2 {
	line-height: 1.1;
	font-weight: 490;
	font-size: var(--size-4xl);
}
.heading.lg,
.prose h3 {
	line-height: 1.15;
	font-weight: 480;
	font-size: var(--size-3xl);
}
.heading.md,
.prose h4 {
	line-height: 1.2;
	font-weight: 470;
	font-size: var(--size-2xl);
}
.heading.sm,
.prose h5 {
	line-height: 1.275;
	font-weight: 460;
	font-size: var(--size-xl);
}
.heading.xs,
.prose h6 {
	line-height: 1.35;
	font-weight: 450;
	font-size: var(--size-lg);
}

.prose .xl,
.text.xl {
	font-weight: 300;
	font-size: var(--size-xl);
	line-height: 1.3em;
}
.prose .lg,
.text.lg {
	font-weight: 300;
	font-size: var(--size-lg);
	line-height: 1.35em;
}
.prose,
.text.md {
	font-weight: 375;
	font-size: var(--size-md);
	line-height: 1.4em;
}
.prose .sm,
.text.sm {
	font-size: var(--size-sm);
	line-height: 1.45em;
}
.prose .xs,
.text.xs {
	font-size: var(--size-xs);
	line-height: 1.5em;
}

.prose {
	&:is(.heading),
	.heading {
		margin-block: 1em;
		max-width: 65ch;
	}

	&:is(p),
	p {
		margin-block: 1.25em;
	}

	&:is(em),
	em {
		font-weight: 500;
	}

	&:is(strong),
	strong {
		font-weight: 600;
	}

	&:is(i),
	i {
		font-style: italic;
	}

	&:is(small),
	small {
		font-size: 0.8em;
	}

	&:is(q),
	q {
	}

	&:is(blockquote),
	blockquote {
	}

	&:is(code),
	code {
	}

	&:is(ul),
	ul {
	}

	&:is(ol),
	ol {
	}
}
