.heading,
.prose,
.text {
	&.left,
	.left {
		text-align: left;
	}

	&.center,
	.center {
		text-align: center;
	}

	&.right,
	.right {
		text-align: right;
	}

	&.dim,
	.dim {
		opacity: 0.7;
	}

	&.dimmer,
	.dimmer {
		opacity: 0.4;
	}
}

.heading,
.prose :is(h1, h2, h3, h4, h5, h6) {
	font-optical-sizing: auto;
}

.heading.xxl,
.prose h1 {
	font-weight: 500;
	font-size: var(--size-5xl);
	line-height: 1.1;
}

.heading.xl,
.prose h2 {
	line-height: 1.1;
	font-weight: 490;
	font-size: var(--size-4xl);
}

.heading.lg,
.prose h3 {
	line-height: 1.15;
	font-weight: 480;
	font-size: var(--size-3xl);
}

.heading.md,
.prose h4 {
	line-height: 1.2;
	font-weight: 470;
	font-size: var(--size-2xl);
}

.heading.sm,
.prose h5 {
	line-height: 1.275;
	font-weight: 460;
	font-size: var(--size-xl);
}

.heading.xs,
.prose h6 {
	line-height: 1.35;
	font-weight: 450;
	font-size: var(--size-lg);
}

.text,
.prose {
	&.xl {
		font-weight: 300;
		font-size: var(--size-xl);
		line-height: 1.3em;
	}
	&.lg {
		font-weight: 300;
		font-size: var(--size-lg);
		line-height: 1.35em;
	}
	&,
	&.md {
		font-weight: 350;
		font-size: var(--size-md);
		line-height: 1.4em;
	}
	&.sm {
		font-size: var(--size-sm);
		line-height: 1.45em;
	}
	&.xs {
		font-size: var(--size-xs);
		line-height: 1.5em;
	}
}

.prose {
	max-width: 65ch;

	&:is(.heading),
	.heading {
		margin-block: 1em;
		max-width: 65ch;
	}

	&:is(p),
	p {
		margin-block: 1.25em;
	}

	&:is(em),
	em {
	}

	&:is(strong),
	strong {
	}

	&:is(i),
	i {
	}

	&:is(small),
	small {
	}

	&:is(q),
	q {
	}

	&:is(blockquote),
	blockquote {
	}

	&:is(code),
	code {
	}

	&:is(ul),
	ul {
	}

	&:is(ol),
	ol {
	}
}
