{
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"arrowParens": "always",
	"svelteIndentScriptAndStyle": true,
	"svelteAllowShorthand": true,
	"plugins": ["prettier-plugin-jsdoc", "prettier-plugin-svelte"],
	"jsdocPrintWidth": 120,
	"quoteProps": "consistent"
}
