{
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-jsdoc",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.css",
			"options": {
				"printWidth": 1000,
				"proseWrap": "preserve"
			}
		}
	],
	"proseWrap": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"svelteIndentScriptAndStyle": true,
	"svelteAllowShorthand": true,
	"jsdocDescriptionWithDot": true,
	"jsdocPreferCodeFences": true,
	"jsdocCommentLineStrategy": "multiline",
	"tsdoc": true,
	"quoteProps": "consistent",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "ignore"
}