# The project requires some env variables to run properly and ensure connection between the apps' services.
# This template summarizes all needed env variables that are not included in commits.

# Supabase keys
EXPOSED_SUPABASE_URL=
EXPOSED_SUPABASE_ANON_KEY=
# As prescribed by Vite, variables needed at runtime should contain the proper prefix, 
# customizable in svelte.config.kit.vite.envPrefix (here set to "EXPOSED").

# Others...