:root {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: var(--font-main);
	color: var(--color-dark-900);
	font-size: var(--size-md);
	font-weight: 400;
	overflow: hidden;
	transition: background-color 1.5s ease-in-out;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	@supports (overflow: overlay) {
		overflow-y: overlay;
	}
}

*,
*::before,
*::after {
	/* -webkit-font-smoothing: antialiased; */
	box-sizing: border-box;
}

/*
	Vendor stylings reset
*/

input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

/*
	Scrollbar styling
*/

:root {
	--scroll-size: 5px;
}

* {
	--scroll-color: rgba(var(--rgb-dark-500), 0);
}

*:hover {
	--scroll-color: rgba(var(--rgb-dark-500), 0.5);
}

::-webkit-scrollbar {
	width: var(--scroll-size);
	height: var(--scroll-size);
}

::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: none;
}

::-webkit-scrollbar-thumb {
	position: relative;
	background: var(--scroll-color);
	border-radius: var(--scroll-size);
}
