:root {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: var(--font-main);
	color: var(--color-dark-700);
	font-size: var(--size-medium);
	font-weight: 400;
	overflow: hidden;
	transition: background-color 1s ease-in-out;
	font-feature-settings: 'kern';
	letter-spacing: 0.01em;
	background-color: var(--color-light-100);
	accent-color: var(--color-primary-500);
}

::selection {
	background: var(--color-primary-500);
	color: currentColor;
}

body {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	// @supports (overflow: overlay) {
	// 	overflow-y: overlay;
	// }
}

*,
::before,
::after {
	/* -webkit-font-smoothing: antialiased; */
	box-sizing: border-box;
}

/*
	Main styles
*/
h1 {
	font-weight: 450;
	font-size: var(--size-x4large);
	padding: 0;
	margin: 1rem 0 2rem 0;
	color: var(--color-dark-900);
	margin-block: 1em 1em;
	letter-spacing: -0.8px;
	line-height: 1.25em;
}

h2 {
	font-weight: 500;
	font-size: var(--size-x3large);
	padding: 0;
	margin: 1rem 0 2rem 0;
	color: var(--color-dark-900);
	margin-block: 1.25em 1em;
	letter-spacing: -0.4px;
	line-height: 1.25em;
}

h3 {
	font-weight: 550;
	font-size: var(--size-x2large);
	padding: 0;
	margin: 1rem 0 2rem 0;
	color: var(--color-dark-900);
	margin-block: 1.5em 1em;
	letter-spacing: -0.2px;
	line-height: 1.25em;
}

h4 {
	font-weight: 600;
	font-size: var(--size-xlarge);
	padding: 0;
	margin: 1rem 0 2rem 0;
	color: var(--color-dark-900);
	margin-block: 1.75em 1em;
	line-height: 1.25em;
}

h5 {
	font-weight: 600;
	font-size: var(--size-large);
	padding: 0;
	margin: 1rem 0 2rem 0;
	color: var(--color-dark-900);
	margin-block: 2em 1em;
	line-height: 1.25em;
}

p {
	line-height: 1.4em;
	margin-block: 2em;
}

em {
	font-style: normal;
	font-weight: 700;
	color: inherit;
}

/*
	Vendor stylings reset
*/

input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

/*
	Scrollbar styling
*/

:root {
	--scroll-size: 5px;
}

* {
	--scroll-color: rgba(var(--rgb-dark-500), 0);
}

*:hover {
	--scroll-color: rgba(var(--rgb-dark-500), 0.5);
}

::-webkit-scrollbar {
	width: var(--scroll-size);
	height: var(--scroll-size);
}

::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: none;
}

::-webkit-scrollbar-thumb {
	position: relative;
	background: var(--scroll-color);
	border-radius: var(--scroll-size);
}
