@import 'overlayscrollbars/css/OverlayScrollbars.css';

body.os-host {
	& > .os-padding {
		& > .os-viewport {
			& > .os-content-arrange,
			& > .os-content {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

/*
	Approche native
*/
.scroll {
	@supports (overflow: overlay) {
		overflow: overlay;
	}
}
