:root {
	--font-main: 'Outfit', sans-serif;
	--font-misc: 'Fraunces', serif;
	// --font-misc: 'Newsreader', serif;
	--font-mono: 'Martian Mono', monospace;
	--color-light-100: hsl(61, 20%, 97%);
	--color-light-200: hsl(61, 20%, 97%);
	--color-light-300: hsl(62, 18%, 94%);
	--color-light-400: hsl(62, 18%, 94%);
	--color-light-500: hsl(63, 15%, 90%);
	--color-light-600: hsl(63, 15%, 90%);
	--color-light-700: hsl(64, 12%, 85%);
	--color-light-800: hsl(64, 12%, 85%);
	--color-light-900: hsl(65, 11%, 79%);
	--color-dark-100: hsl(141, 7%, 24%);
	--color-dark-200: hsl(141, 7%, 24%);
	--color-dark-300: hsl(142, 8%, 18%);
	--color-dark-400: hsl(142, 8%, 18%);
	--color-dark-500: hsl(143, 9%, 12%);
	--color-dark-600: hsl(143, 9%, 12%);
	--color-dark-700: hsl(144, 10%, 8%);
	--color-dark-800: hsl(144, 10%, 8%);
	--color-dark-900: hsl(145, 0%, 4%);
	--color-primary-100: hsl(145, 31%, 54%);
	--color-primary-200: hsl(145, 31%, 54%);
	--color-primary-300: hsl(146, 32%, 48%);
	--color-primary-400: hsl(146, 32%, 48%);
	--color-primary-500: hsl(147, 33%, 40%);
	--color-primary-600: hsl(147, 33%, 40%);
	--color-primary-700: hsl(148, 34%, 30%);
	--color-primary-800: hsl(148, 34%, 30%);
	--color-primary-900: hsl(149, 35%, 18%);
	--color-secondary-100: hsl(221, 84%, 80%);
	--color-secondary-200: hsl(221, 84%, 80%);
	--color-secondary-300: hsl(223, 81%, 74%);
	--color-secondary-400: hsl(223, 81%, 74%);
	--color-secondary-500: hsl(225, 75%, 68%);
	--color-secondary-600: hsl(225, 75%, 68%);
	--color-secondary-700: hsl(227, 72%, 62%);
	--color-secondary-800: hsl(227, 72%, 62%);
	--color-secondary-900: hsl(229, 64%, 54%);
	--color-success-100: hsl(83, 65%, 76%);
	--color-success-200: hsl(83, 65%, 76%);
	--color-success-300: hsl(83, 68%, 56%);
	--color-success-400: hsl(83, 68%, 56%);
	--color-success-500: hsl(83, 72%, 40%);
	--color-success-600: hsl(83, 72%, 40%);
	--color-success-700: hsl(83, 68%, 38%);
	--color-success-800: hsl(83, 68%, 38%);
	--color-success-900: hsl(83, 65%, 30%);
	--color-error-100: hsl(10, 70%, 78%);
	--color-error-200: hsl(10, 70%, 78%);
	--color-error-300: hsl(9, 75%, 62%);
	--color-error-400: hsl(9, 75%, 62%);
	--color-error-500: hsl(8, 80%, 54%);
	--color-error-600: hsl(8, 80%, 54%);
	--color-error-700: hsl(7, 85%, 40%);
	--color-error-800: hsl(7, 85%, 40%);
	--color-error-900: hsl(6, 90%, 30%);
	--size-2xs: 0.5rem;
	--size-xs: 0.65rem;
	--size-sm: 0.8rem;
	--size-md: 1rem;
	--size-lg: 1.25rem;
	--size-xl: 1.5rem;
	--size-2xl: 2rem;
	--size-3xl: 2.75rem;
	--size-4xl: 3.75rem;
	--size-5xl: 5.5rem;
	--space-3xs: 0.25em;
	--space-2xs: 0.5em;
	--space-xs: 0.75em;
	--space-sm: 1em;
	--space-md: 1.25em;
	--space-lg: 1.75em;
	--space-xl: 2.25em;
	--space-2xl: 2.75em;
	--space-3xl: 3.5em;
	--space-4xl: 5em;
	--space-5xl: 7em;
	--radius-2xs: 6px;
	--radius-xs: 8px;
	--radius-sm: 12px;
	--radius-md: 16px;
	--radius-lg: 24px;
	--radius-xl: 32px;
	--radius-2xl: 48px;
	--radius-3xl: 72px;
}
