:root {
	/* App fonts. */
	--font-main: 'Outfit', sans-serif;
	--font-misc: 'Fraunces', serif;
	/* --font-misc: 'Newsreader', serif; */
	--font-mono: 'Martian Mono', monospace;
	/* Color palettes. */
	--color-neutral-50: hsl(30, 10%, 96%);
	--color-neutral-100: hsl(30, 9%, 92%);
	--color-neutral-200: hsl(30, 8%, 88%);
	--color-neutral-300: hsl(34, 7%, 81%);
	--color-neutral-400: hsl(34, 6%, 72%);
	--color-neutral-500: hsl(35, 5%, 45%);
	--color-neutral-600: hsl(33, 6%, 22%);
	--color-neutral-700: hsl(30, 7%, 16%);
	--color-neutral-800: hsl(32, 8%, 12%);
	--color-neutral-900: hsl(34, 9%, 9%);
	--color-neutral-950: hsl(30, 10%, 6%);
	--color-primary-50: hsl(162, 81%, 96%);
	--color-primary-100: hsl(161, 80%, 90%);
	--color-primary-200: hsl(160, 76%, 80%);
	--color-primary-300: hsl(159, 72%, 67%);
	--color-primary-400: hsl(158, 69%, 51%);
	--color-primary-500: hsl(157, 92%, 38%);
	--color-primary-600: hsl(156, 94%, 31%);
	--color-primary-700: hsl(155, 96%, 23%);
	--color-primary-800: hsl(154, 93%, 17%);
	--color-primary-900: hsl(153, 91%, 12%);
	--color-primary-950: hsl(152, 91%, 8%);
	--color-secondary-50: hsl(39, 75%, 90%);
	--color-secondary-100: hsl(39, 74%, 84%);
	--color-secondary-200: hsl(38, 73%, 77%);
	--color-secondary-300: hsl(37, 72%, 70%);
	--color-secondary-400: hsl(37, 73%, 62%);
	--color-secondary-500: hsl(38, 70%, 54%);
	--color-secondary-600: hsl(39, 69%, 45%);
	--color-secondary-700: hsl(38, 68%, 39%);
	--color-secondary-800: hsl(37, 67%, 30%);
	--color-secondary-900: hsl(36, 66%, 21%);
	--color-secondary-950: hsl(35, 65%, 12%);
	--color-success-50: hsl(89, 86%, 88%);
	--color-success-100: hsl(89, 84%, 83%);
	--color-success-200: hsl(89, 72%, 75%);
	--color-success-300: hsl(89, 68%, 64%);
	--color-success-400: hsl(89, 68%, 52%);
	--color-success-500: hsl(89, 75%, 43%);
	--color-success-600: hsl(89, 78%, 35%);
	--color-success-700: hsl(89, 79%, 30%);
	--color-success-800: hsl(89, 80%, 24%);
	--color-success-900: hsl(89, 83%, 18%);
	--color-success-950: hsl(89, 82%, 12%);
	--color-error-50: hsl(8, 84%, 89%);
	--color-error-100: hsl(8, 79%, 82%);
	--color-error-200: hsl(8, 78%, 74%);
	--color-error-300: hsl(8, 78%, 65%);
	--color-error-400: hsl(8, 79%, 59%);
	--color-error-500: hsl(8, 80%, 50%);
	--color-error-600: hsl(8, 80%, 47%);
	--color-error-700: hsl(8, 84%, 41%);
	--color-error-800: hsl(8, 84%, 34%);
	--color-error-900: hsl(8, 86%, 26%);
	--color-error-950: hsl(8, 89%, 18%);
	/* Text and misc absolute sizes. */
	--size-6xs: 0.125rem;
	--size-5xs: 0.25rem;
	--size-4xs: 0.35rem;
	--size-3xs: 0.5rem;
	--size-2xs: 0.65rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-md: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.35rem;
	--size-2xl: 1.75rem;
	--size-3xl: 2.5rem;
	--size-4xl: 3.5rem;
	--size-5xl: 5rem;
	--size-6xl: 7rem;
	--size-7xl: 10rem;
	--size-8xl: 15rem;
	/* Rounded corners. */
	--radius-2xs: 6px;
	--radius-xs: 8px;
	--radius-sm: 12px;
	--radius-md: 16px;
	--radius-lg: 21px;
	--radius-xl: 28px;
	--radius-2xl: 36px;
	--radius-3xl: 48px;
	--radius-full: 999px;
	/* Content sizes. */
	--width-lg: 1200px;
	--width-md: 760px;
	--width-sm: 420px;
	/* Easings */
	--ease-expo: cubic-bezier(0.87, 0, 0.13, 1);
	--ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
	/* Durations */
	--duration-xfast: 75ms;
	--duration-fast: 120ms;
	--duration-medium: 250ms;
	--duration-slow: 350ms;
	--duration-xslow: 550ms;
	--duration-2xslow: 750ms;
	--duration-3xslow: 1250ms;
	/* Animations */
	--animation-press: press var(--duration-medium) var(--ease-out-expo);
	/* Shadows (based on tailwind) */
	--shadow-xs: 0 1px 2px -1px rgb(0, 0, 0, 0.05);
	--shadow-sm: 0 2px 3px -2px rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.025);
	--shadow-md: 0 5px 8px -3px rgb(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0, 0, 0, 0.05);
	--shadow-lg: 0 10px 16px -4px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
	--shadow-xl: 0 16px 24px -10px rgb(0, 0, 0, 0.1), 0 8px 10px -6px rgb(0, 0, 0, 0.1);
	--shadow-2xl: 0 24px 48px -16px rgb(0, 0, 0, 0.25);
	/* Base values for io elements and others */
	--base-gutter: 0.75rem; /* Outer gutters */
	--base-gap: 0.5rem; /* Inside gutters (for grids within the ui) */
	--base-size: 3.5em;
	--base-padding: 1.25em;
	--base-radius: var(--radius-md);
	--base-border-size: 1.25px;
	--base-border: var(--base-border-size) solid
		color-mix(in srgb, var(--color-neutral-500) 25%, transparent);
	--base-inset: 5px;
	--base-focus-ring: 2.5px solid color-mix(in srgb, var(--color-primary-700) 50%, transparent);
	--base-bg: var(--color-neutral-100);
	/* Component-specific */
	--navbar-height: 72px;
	--navbar-sticky: calc(var(--navbar-height) + 0.5rem);
	--dashboard-navbar: 175px;
	/* Root style */
	position: relative;
	font-size: 100%;
	font-family: var(--font-main);
	overflow-x: hidden;
	accent-color: var(--color-primary-500);
	color: var(--color-neutral-700);
	background-color: var(--base-bg);
	transition: all var(--duration-fast) ease-out;
	&:--dark {
		--base-focus-ring: 2.5px solid color-mix(in srgb, var(--color-primary-400) 50%, transparent);
		--base-bg: var(--color-neutral-900);
		color: var(--color-neutral-300);
	}
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

::selection {
	color: var(--color-neutral-800);
	background: var(--color-primary-400);
	:--dark & {
		color: var(--color-neutral-200);
		background: var(--color-primary-600);
	}
}
::-moz-selection {
	color: var(--color-neutral-800);
	background: var(--color-primary-400);
	:--dark & {
		color: var(--color-neutral-200);
		background: var(--color-primary-600);
	}
}

@keyframes press {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.96);
	}
	100% {
		transform: scale(1);
	}
}
