/* Big, wide variants */
.big {
	--spacing-input: 4.75em;
	--spacing-input-padding: 1.875em;
	--spacing-input-nest: 0.5rem;
	/* --spacing-input-icon: 1.5em; */
	/* --radius-input: var(--radius-md); */
}
