/* Button

	Aliased states
		- default
		- hover (:hover, :active)
		- disabled (:disabled, [aria-disabled='true'], [data-disabled='true'])
		- busy ([aria-busy='true'])
		- checked (:checked, [aria-checked='true'], [data-state='active'], [data-state='checked'], :has(:checked))
		- open ([aria-expanded='true'], [data-state='open'])

	Aliased properties
	  - color
		- background
		- background-inset
		- text-decoration
		- text-decoration-thickness
		- text-decoration-color
		- text-decoration-offset
		- border-color
		- border-style
		- border-width
		- icon-color
		- icon-opacity

	Custom properties pattern
		"--button{-aliased_state}-{aliased_property}: value;"
	
	Variants
		- default
		- cta (call-to-action)
		- bordered
		- dashed
		- ghost
		- link

	Mods
	  - danger ([data-danger=true])
	*/

.button {
	position: relative;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: calc(var(--spacing-input-gutter) / 2);
	font-weight: var(--font-weight-semibold);
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--spacing-input-gutter);
	padding-right: var(--spacing-input-gutter);
	height: var(--spacing-input);
	min-height: var(--spacing-input);
	border-radius: var(--radius-input);
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	z-index: 0;
	transition:
		all var(--transition-duration-medium) var(--transition-timing-function-out),
		outline var(--transition-duration-fast);

	/* Press animation */

	&:active {
		animation: var(--animate-press);
		/* scale: var(--scale-press); */
	}

	/* Pseudos for background and border */

	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: inherit;
		border-radius: inherit;
		pointer-events: none;
		inset: 0;
	}

	/* Icon children */

	.lucide-icon,
	.spinner {
		transition: all var(--transition-duration-medium) var(--transition-timing-function-out);
		stroke-width: var(--stroke-width-icon);
		width: var(--spacing-input-icon);
		height: var(--spacing-input-icon);
	}

	/* Rounded */

	&:is(.rounded-full) {
		--radius-input: var(--radius-full);
	}

	/* Square aspect */

	&:is(.aspect-square) {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		aspect-ratio: 1;

		.lucide-icon,
		.spinner {
			opacity: 100%;
		}
	}

	/* Base */

	color: var(--button-color);
	text-decoration: var(--button-text-decoration);
	text-decoration-color: var(--button-text-decoration-color);
	text-decoration-thickness: var(--button-text-decoration-thickness);
	text-underline-offset: var(--button-text-underline-offset);

	&::before {
		background: var(--button-background);
		inset: var(--button-background-inset);
	}

	&::after {
		border-color: var(--button-border-color);
		border-style: var(--button-border-style);
		border-width: var(--button-border-width);
	}

	.lucide-icon,
	.spinner {
		opacity: var(--opacity-soft);
		stroke: var(--button-icon-color);
	}

	/* Hover */

	&:hover,
	&:active {
		color: var(--button-hover-color, var(--button-color));
		text-decoration: var(--button-hover-text-decoration, var(--button-text-decoration));
		text-decoration-color: var(--button-hover-text-decoration-color, var(--button-text-decoration-color));
		text-decoration-thickness: var(--button-hover-text-decoration-thickness, var(--button-text-decoration-thickness));
		text-underline-offset: var(--button-hover-text-underline-offset, var(--button-text-underline-offset));

		&::before {
			background: var(--button-hover-background, var(--button-background));
			inset: var(--button-hover-background-inset, var(--button-background-inset));
		}

		&::after {
			border-color: var(--button-hover-border-color, var(--button-border-color));
			border-style: var(--button-hover-border-style, var(--button-border-style));
			border-width: var(--button-hover-border-width, var(--button-border-width));
		}

		.lucide-icon,
		.spinner {
			stroke-width: calc(1.25 * var(--stroke-width-icon));
			opacity: 100%;
			stroke: var(--button-hover-icon-color, var(--button-icon-color));
		}
	}

	/* Disabled */

	&:disabled,
	&[aria-disabled='true'],
	&[data-disabled='true'] {
		cursor: default;
		opacity: var(--opacity-soft);
		color: var(--button-disabled-color, var(--button-color));
		text-decoration: var(--button-disabled-text-decoration, var(--button-text-decoration));
		text-decoration-color: var(--button-disabled-text-decoration-color, var(--button-text-decoration-color));
		text-decoration-thickness: var(--button-disabled-text-decoration-thickness, var(--button-text-decoration-thickness));
		text-underline-offset: var(--button-disabled-text-underline-offset, var(--button-text-underline-offset));

		&::before {
			background: var(--button-disabled-background, var(--button-background));
			inset: var(--button-disabled-background-inset, var(--button-background-inset));
		}

		&::after {
			border-color: var(--button-disabled-border-color, var(--button-border-color));
			border-style: var(--button-disabled-border-style, var(--button-border-style));
			border-width: var(--button-disabled-border-width, var(--button-border-width));
		}

		.lucide-icon,
		.spinner {
			opacity: var(--opacity-softer);
			stroke: var(--button-disabled-icon-color, var(--button-icon-color));
		}
	}

	/* Busy */

	&[aria-busy='true'] {
		color: var(--button-busy-color, var(--button-color));
		text-decoration: var(--button-busy-text-decoration, var(--button-text-decoration));
		text-decoration-color: var(--button-busy-text-decoration-color, var(--button-text-decoration-color));
		text-decoration-thickness: var(--button-busy-text-decoration-thickness, var(--button-text-decoration-thickness));
		text-underline-offset: var(--button-busy-text-underline-offset, var(--button-text-underline-offset));

		&::before {
			background: var(--button-busy-background, var(--button-background));
			inset: var(--button-busy-background-inset, var(--button-background-inset));
		}

		&::after {
			border-color: var(--button-busy-border-color, var(--button-border-color));
			border-style: var(--button-busy-border-style, var(--button-border-style));
			border-width: var(--button-busy-border-width, var(--button-border-width));
		}

		.lucide-icon,
		.spinner {
			opacity: 100%;
			stroke: var(--button-busy-icon-color, var(--button-icon-color));
		}
	}

	/* Checked */

	&:checked,
	&[aria-checked='true'],
	&[data-state='active'],
	&[data-state='checked'],
	&:has(:checked) {
		color: var(--button-checked-color, var(--button-color));
		text-decoration: var(--button-checked-text-decoration, var(--button-text-decoration));
		text-decoration-color: var(--button-checked-text-decoration-color, var(--button-text-decoration-color));
		text-decoration-thickness: var(--button-checked-text-decoration-thickness, var(--button-text-decoration-thickness));
		text-underline-offset: var(--button-checked-text-underline-offset, var(--button-text-underline-offset));

		&::before {
			background: var(--button-checked-background, var(--button-background));
			inset: var(--button-checked-background-inset, var(--button-background-inset));
		}

		&::after {
			border-color: var(--button-checked-border-color, var(--button-border-color));
			border-style: var(--button-checked-border-style, var(--button-border-style));
			border-width: var(--button-checked-border-width, var(--button-border-width));
		}

		.lucide-icon,
		.spinner {
			opacity: 100%;
			stroke: var(--button-checked-icon-color, var(--button-icon-color));
		}
	}

	/* Open */

	&[aria-expanded='true'],
	&[data-state='open'] {
		color: var(--button-open-color, var(--button-color));
		text-decoration: var(--button-open-text-decoration, var(--button-text-decoration));
		text-decoration-color: var(--button-open-text-decoration-color, var(--button-text-decoration-color));
		text-decoration-thickness: var(--button-open-text-decoration-thickness, var(--button-text-decoration-thickness));
		text-underline-offset: var(--button-open-text-underline-offset, var(--button-text-underline-offset));

		&::before {
			background: var(--button-open-background, var(--button-background));
			inset: var(--button-open-background-inset, var(--button-background-inset));
		}

		&::after {
			border-color: var(--button-open-border-color, var(--button-border-color));
			border-style: var(--button-open-border-style, var(--button-border-style));
			border-width: var(--button-open-border-width, var(--button-border-width));
		}

		.lucide-icon,
		.spinner {
			opacity: 100%;
			stroke: var(--button-open-icon-color, var(--button-icon-color));
		}
	}
}

/* Default */

.button:not(.button-outlined, .button-ghost, .button-cta, .button-link) {
	--button-color: var(--color-contrast-input);
	--button-background: var(--color-input);
	--button-background-inset: 0;
	--button-text-decoration: none;
	--button-icon-color: currentColor;
	--button-border-style: none;
	--button-hover-color: var(--color-contrast-input-strong);
	--button-hover-background: var(--color-input-strong);
}

/* Call to action */

.button:is(.button-cta) {
	--button-background-inset: 0;
	--button-color: var(--color-primary-contrast);
	--button-background: var(--color-primary);
	--button-hover-color: var(--color-primary-contrast-soft);
	--button-hover-background: var(--color-primary-strong);
}

/* Bordered */

.button:is(.button-bordered) {
	--button-border-style: solid;
}

.button:is(.button-dashed) {
	--button-border-style: dashed;
}

.button:is(.button-bordered, .button-dashed) {
	--button-color: var(--color-contrast-input);
	--button-background: transparent;
	--button-border-color: var(--border-color);
	--button-background-inset: var(--inset-input-background);
	--button-hover-background: var(--color-input-strong);
	--button-hover-border-color: transparent;
	--button-hover-background-inset: 0;
}

/* Ghost */

.button:is(.button-ghost) {
	--button-color: var(--color-contrast-input);
	--button-background: transparent;
	--button-background-inset: var(--inset-input-background);
	--button-text-decoration: none;
	--button-icon-color: currentColor;
	--button-border-style: none;
	--button-hover-color: var(--color-contrast-input-strong);
	--button-hover-background: var(--color-input-strong);
	--button-hover-background-inset: 0;
}

/* Link */

.button:is(.button-link) {
	--button-color: var(--color-primary);
	--button-background: transparent;
	--button-background-inset: var(--inset-input-background);
	--button-text-decoration: none;
	--button-icon-color: currentColor;
	--button-border-style: none;
	--button-hover-color: var(--color-primary-strong);
	--button-hover-background: color-mix(in srgb, var(--color-primary) 15%, transparent);
	--button-hover-background-inset: 0;
}
