/* Dialog

	Composition
		- .dialog
		- .dialog-content (inner-wrapper
		- hr
		- .dialog-title
		- .dialog-text
		- .dialog-actions
	*/

.dialog {
	--dialog-margin: var(--spacing-padding);
	margin: auto;
	max-width: min(calc(100% - 2 * var(--dialog-margin)), var(--width-md));
	max-height: calc(100% - 2 * var(--dialog-margin));
	padding: 2em;
	background: var(--background-color-popover);
	border-radius: var(--radius-lg);
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
	border: var(--border-width-md) solid var(--border-color-dim);
	overflow: auto;
	color: var(--text-color-base);

	/* Backdrop is handled as pseudo element on :root to enable in-out transitions. */

	&::backdrop {
		opacity: 0;
	}

	&:has(.dialog-title:first-child) {
		padding-top: 1.5em;
	}

	.dialog-title {
		position: relative;
		color: var(--text-color-base);
		font-weight: var(--font-weight-semibold);
		font-size: var(--font-size-lg);
		margin-bottom: 1em;

		.button {
			position: relative;
			float: inline-end;
			font-size: var(--font-size-md);
			/* right: 0; */
			top: -0.25em;
		}
	}

	& > hr {
		border-color: var(--border-color-dim);
		margin-inline: -2em;
		margin-block: 1em;
	}

	.dialog-description {
		color: var(--text-color-base-dim);
	}

	.dialog-body {
		padding-block: 1em;
	}

	.dialog-actions {
		margin-top: 1em;
		padding-top: 1em;
		font-size: var(--font-size-sm);
		align-self: stretch;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap: var(--spacing-menu-gutter);
		position: sticky;
		bottom: 0;
		background: inherit;
	}
}
