/*
	Field

	Simple field stacking with label
*/

.field {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-field-gutter);

	&:hover,
	&:focus-within {
		.field-label.field-label-hover {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&:has([aria-invalid='true'], [data-error='true']) {
		.field-label {
			color: var(--color-error-soft);
		}
	}
}

.field-label {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: flex-end;
	font-weight: var(--font-weight-semibold);
	font-size: clamp(var(--font-size-xs), 0.5em, var(--font-size-md));
	padding-inline: var(--spacing-field-gutter);
	transition: all var(--transition-duration-medium) var(--transition-timing-function-out);

	&.field-label-hover {
		opacity: 0;
		transform: translateY(var(--spacing-field-gutter));
	}
}

.field-error {
	color: var(--color-error);
	opacity: var(--opacity-soft);
	font-size: clamp(var(--font-size-xs), 0.35em, var(--font-size-sm));
	padding-inline: var(--spacing-field-gutter);
}
