/*
	Field

	Simple field stacking with label
*/

@keyframes field-label {
	from {
		opacity: 0;
		translate: 0 0.25em;
	}
}

.field {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-field-gutter);

	&:hover,
	&:has(.input:focus, :focus-visible) {
		.field-label.field-label-hover {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&:has(.input:focus, :focus-visible) {
		.field-label {
			color: var(--color-primary);
		}
	}

	&:has([aria-invalid='true'], [data-error='true']) {
		.field-label {
			color: var(--color-error-soft);
		}
	}

	&:disabled,
	&:has(> :disabled, > [data-disabled='true'], [aria-disabled='true']) {
		.field-label {
			opacity: var(--opacity-soft);
		}
	}
}

.field-label {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: flex-end;
	color: var(--color-contrast-soft);
	font-weight: var(--font-weight-semibold);
	font-size: clamp(var(--font-size-xs), 0.5em, var(--font-size-md));
	padding-inline: var(--spacing-field-gutter);
	animation: field-label var(--transition-duration-slow) var(--transition-timing-function-out);
	transition: all var(--transition-duration-medium) var(--transition-timing-function-out);

	&.field-label-hover {
		opacity: 0;
		transform: translateY(var(--spacing-field-gutter));
	}
}

.field-messages {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-field-gutter);
	padding-block: var(--spacing-field-gutter);
}

.field-message {
	opacity: var(--opacity-soft);
	font-size: clamp(var(--font-size-xs), 0.35em, var(--font-size-sm));
	padding-inline: var(--spacing-field-gutter);

	&[data-type='error'] {
		color: var(--color-error);
	}

	&[data-type='success'] {
		color: var(--color-success);
	}
}
