textarea.resize {
	resize: vertical;
	&::after {
	}
}

.dim {
	opacity: var(--opacity-dim);
}

.dimmer {
	opacity: var(--opacity-dimmer);
}

.bg-blur {
	backdrop-filter: blur(8px);
}

/* Update base tokens to make things more compact where needed */
@define-mixin compact {
	--base-block-size: 2.5em;
	--base-inline-padding: 1em;
	--base-nesting: 2px;
}
.compact {
	@mixin compact;
}

/* Opposite of compact, makes base sizes larger for when attention is needed. */
@define-mixin big {
	--base-block-size: 4.5em;
	--base-inline-padding: 1.8em;
	--base-nesting: max(5px, 0.5em);
}
.big {
	@mixin big;
}

/* Hide native scrollbar */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.note {
	opacity: var(--opacity-dim);
	font-style: italic;
}

/* Prevent content selectability */
.no-select {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* See https://www.a11yproject.com/posts/how-to-hide-content */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
