textarea.resize {
	resize: vertical;
	&::after {
	}
}

.dim {
	opacity: var(--opacity-dim);
}

.dimmer {
	opacity: var(--opacity-dimmer);
}

.bg-blur {
	backdrop-filter: blur(8px);
}

.compact {
	@mixin compact;
}

.big {
	@mixin big;
}

/* Hide native scrollbar */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.note {
	opacity: var(--opacity-dim);
	font-style: italic;
}

/* Prevent content selectability */
.no-select {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* See https://www.a11yproject.com/posts/how-to-hide-content */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fill a parent element. Useful for creating visually nested links or buttons */
.fill-parent {
	position: absolute;
	inset: 0;
	z-index: 0;
	border-radius: inherit;
	user-select: none;
}
