/*
	Adjust variables to make input-based children smaller.
*/
.nest {
	--nest-spacing-input: calc(var(--spacing-input) - 2 * var(--spacing-input-nest));
	--nest-radius-input: calc(var(--radius-input) - var(--spacing-input-nest));

	> * {
		--spacing-input: var(--nest-spacing-input);
		--radius-input: var(--nest-radius-input);
	}
}
