.prose-block {
	& > :first-child {
		margin-top: 0;
	}

	/* Last prosable element. Although more complex, this selector allows us to ignore dialogs, divs, and any element that shouldnt be considered a "prose" */
	& > :not(dialog, div):not(:has(~ :not(dialog, div))) {
		margin-bottom: 0;
	}
}

.prose {
	font-size: initial;
	line-height: var(--line-height-lg);
	--font-size-xs--line-height: var(--line-height-lg);
	--font-size-sm--line-height: var(--line-height-lg);

	h1 {
		color: var(--text-color-base-accent);
		font-size: var(--font-size-5xl);
		line-height: var(--font-size-5xl--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 0.5em;
		max-width: var(--width-prose);
	}

	h2 {
		color: var(--text-color-base-accent);
		font-size: var(--font-size-4xl);
		line-height: var(--font-size-4xl--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 0.5em;
		max-width: var(--width-prose);
	}

	h3 {
		/* color: var(--text-color-base-accent); */
		font-size: var(--font-size-3xl);
		line-height: var(--font-size-3xl--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 0.625em;
		max-width: var(--width-prose);
	}

	h4 {
		/* color: var(--text-color-base-accent); */
		font-size: var(--font-size-2xl);
		line-height: var(--font-size-2xl--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 0.75em;
		max-width: var(--width-prose);
	}

	h5 {
		/* color: var(--text-color-base-accent); */
		font-size: var(--font-size-xl);
		line-height: var(--font-size-xl--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 0.825em;
		max-width: var(--width-prose);
	}

	h6 {
		/* color: var(--text-color-base-accent); */
		font-size: var(--font-size-lg);
		line-height: var(--font-size-lg--line-height);
		font-weight: var(--font-weight-bold);
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: var(--width-prose);
	}

	p {
		margin-top: 1em;
		margin-bottom: 1.5em;
		max-width: var(--width-prose);
	}

	a:not(.button) {
		color: var(--color-primary);
		font-weight: var(--font-weight-semibold);
		border-radius: 3px;
		background: transparent;
		text-decoration: underline;
		text-decoration-thickness: var(--border-width);
		text-underline-offset: 0.35em;
		text-decoration-color: color-mix(in srgb, currentColor var(--opacity-dim), transparent);
		-webkit-box-decoration-break: clone;
		-o-box-decoration-break: clone;
		box-decoration-break: clone;
		box-shadow: 0 0 0 0 transparent;
		transition: all var(--transition-duration-fast) var(--transition-timing-function-out);

		&:hover,
		&:focus-visible {
			color: var(--color-primary-accent);
			text-underline-offset: 0.25em;
			text-decoration-color: transparent;
			background: color-mix(in srgb, var(--color-primary) 10%, transparent);
			box-shadow: 0 0 0 0.5em color-mix(in srgb, var(--color-primary) 10%, transparent);
		}

		&:active {
			animation: var(--animate-press);
		}
	}

	em {
	}

	b {
	}

	i {
	}

	ul {
		padding-inline: 1.5em;
		list-style-type: square;

		li {
			margin-top: 1.15em;
			padding-inline-start: 0.5em;
		}
	}

	ol {
		list-style-type: decimal;

		li {
		}
	}
}
