/*
	Switch

	Aliased states
		- default
		- hover (:hover, :active)
		- disabled (:disabled, [aria-disabled='true'], [data-disabled='true'])
		- checked (:checked, [aria-checked='true'], [data-state='active'], [data-state='checked'], :has(:checked))

	Aliased properties
		- color
		- background
		- background-inset
		- border-color
		- border-style
		- border-width
		- icon-color

	Custom properties pattern
		"--button{-mod}{-aliased_state}-{aliased_property}: value;"

	Variants
		- default
		- bordered
		- dashed
		- ghost

	Compounds
		- danger ([data-danger=true])
	*/

.switch {
	/* Default */

	&:not(.switch-bordered, .switch-dashed, .switch-ghost) {
		--ripple-color: var(--background-color-input-dim);
		--switch-thumb-background: var(--background-color-popover);
		--switch-thumb-shadow: var(--shadow-sm);
		--switch-color: var(--text-color-input-dim);
		--switch-background: var(--background-color-input);
		--switch-border-style: none;
		--switch-hover-color: var(--text-color-input);
		--switch-hover-background: var(--background-color-input);
		/* --switch-focused-color: ; */
		/* --switch-focused-background: ; */
		/* --switch-disabled-color: ; */
		/* --switch-disabled-background: ; */
		--switch-item-icon-color: currentColor;
		--switch-item-background-inset: 0.4em;
		--switch-item-background: transparent;
		--switch-item-hover-background-inset: 0em;
		--switch-item-hover-background: var(--background-color-input-accent);
		--switch-item-hover-color: var(--text-color-input-accent);
		/* --switch-item-disabled-color: ; */
		/* --switch-item-disabled-background: ; */
		--switch-item-checked-color: var(--text-color-input-accent);
		--switch-item-checked-background: transparent;
		/* --switch-item-active-color: ; */
		/* --switch-item-active-background: ; */
	}

	/* Bordered & dashed */

	&:is(.switch-bordered) {
		--switch-border-style: solid;
	}

	&:is(.switch-dashed) {
		--switch-border-style: dashed;
	}

	&:is(.switch-bordered, .switch-dashed) {
		--switch-thumb-background: var(--background-color-input-accent);
		--switch-color: var(--text-color-input-dim);
		--switch-background: transparent;
		--switch-border-color: var(--border-color-dim);
		--switch-hover-border-color: var(--border-color);
		--switch-hover-color: var(--text-color-input);
		--switch-focused-border-color: transparent;
		--switch-item-icon-color: currentColor;
		--switch-item-background-inset: 0.4em;
		--switch-item-background: transparent;
		--switch-item-hover-background-inset: 0;
		--switch-item-hover-background: var(--background-color-input-accent);
		--switch-item-hover-color: var(--text-color-input-accent);
		--switch-item-checked-color: var(--text-color-input-accent);
		--switch-item-checked-background: transparent;
	}

	&:where(label, button) {
		cursor: pointer;
	}

	/* Ghost */

	&:is(.switch-ghost) {
		--switch-thumb-background: var(--background-color-input-accent);
		--switch-color: var(--text-color-input-dim);
		--switch-background: transparent;
		--switch-icon-color: currentColor;
		--switch-border-style: none;
		--switch-hover-color: var(--text-color-input);
		--switch-item-background-inset: 0.4em;
		--switch-item-background: transparent;
		--switch-item-hover-background-inset: 0;
		--switch-item-hover-background: var(--background-color-input);
		--switch-item-checked-color: var(--text-color-input-accent);
		--switch-item-checked-background-inset: 0;
		--switch-item-checked-background: transparent;
	}

	/* Base */

	--switch-nest: var(--spacing-input-nest);
	--switch-radius: var(--radius-input);
	--nest-spacing-input: calc(var(--spacing-input) - 2 * var(--switch-nest));
	--nest-spacing-input-padding: calc(var(--spacing-input-padding) - var(--switch-nest));
	--nest-radius-input: calc(var(--switch-radius) - var(--switch-nest));
	font-weight: var(--font-weight-semibold);
	overflow-x: auto;
	isolation: isolate;
	position: relative;
	display: inline-flex;
	padding: var(--switch-nest);
	border-radius: var(--switch-radius);
	user-select: none;
	flex: none;
	gap: calc(var(--switch-nest) / 2);
	align-items: stretch;
	justify-content: stretch;
	color: var(--switch-color);
	background: var(--switch-background);
	transition: all var(--duration-medium) var(--transition-timing-function-out);

	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		border-radius: inherit;
		inset: 0;
		border-width: var(--switch-border-width);
		border-style: var(--switch-border-style);
		border-color: var(--switch-border-color);
		transition: inherit;
	}

	> * {
		--spacing-input: var(--nest-spacing-input);
		--spacing-input-padding: var(--nest-spacing-input-padding);
		--radius-input: var(--nest-radius-input);
	}

	/* Orientation */

	&:not([data-orientation='vertical']) {
		flex-direction: row;
		height: var(--spacing-input);
	}
	&[data-orientation='vertical'] {
		flex-direction: column;
	}

	/* Rounded */

	&:is(.rounded-full) {
		--switch-radius: var(--radius-full);
	}

	/* Hover */

	&:hover {
		color: var(--switch-hover-color), var(--switch-color);
		background: var(--switch-hover-background, var(--switch-background));

		&::after {
			border-width: var(--switch-hover-border-width, var(--switch-border-width));
			border-style: var(--switch-hover-border-style, var(--switch-border-style));
			border-color: var(--switch-hover-border-color, var(--switch-border-color));
		}
	}

	/* Focused */

	&:focus-visible,
	&:has(:focus-visible) {
		outline: var(--outline-width-focus) solid var(--outline-color);
		color: var(--switch-focused-color), var(--switch-color);
		background: var(--switch-focused-background, var(--switch-background));

		&::after {
			border-width: var(--switch-focused-border-width, var(--switch-border-width));
			border-style: var(--switch-focused-border-style, var(--switch-border-style));
			border-color: var(--switch-focused-border-color, var(--switch-border-color));
		}
	}

	/* Disabled */

	&:disabled,
	&[aria-disabled='true'],
	&[data-disabled='true'] {
		pointer-events: none;
		color: var(--switch-disabled-color, var(--switch-color));
		background: var(--switch-disabled-background, var(--switch-background));

		&::after {
			border-width: var(--switch-disabled-border-width, var(--switch-border-width));
			border-style: var(--switch-disabled-border-style, var(--switch-border-style));
			border-color: var(--switch-disabled-border-color, var(--switch-border-color));
		}
	}

	/* Indicator for current switch item */

	.switch-thumb {
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		background: var(--switch-thumb-background);
		box-shadow: var(--switch-thumb-shadow);
	}

	/* Switch trigger child */

	.switch-item {
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		white-space: nowrap;
		text-overflow: ellipsis;
		align-items: center;
		justify-content: center;
		height: var(--spacing-input);
		border-radius: var(--radius-input);
		padding-inline: var(--spacing-input-padding);
		transition: all var(--transition-duration-fast) var(--transition-timing-function-out);

		/* Square */

		&.aspect-square {
			padding-inline: 0;

			.lucide-icon,
			.spinner {
				opacity: 1;
			}
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			transition: inherit;
			border-radius: inherit;
			pointer-events: none;
		}

		/* Icon children */

		.lucide-icon,
		.spinner {
			z-index: 1;
			width: var(--spacing-input-icon);
			height: var(--spacing-input-icon);
			opacity: var(--opacity-dim);
			flex: none;
			user-select: none;
			pointer-events: none;
			transition:
				opacity var(--transition-duration-medium) ease-out,
				transform var(--transition-duration-fast) var(--transition-timing-function-out);
		}

		&:focus-visible {
			outline: var(--outline-width-focus) solid var(--outline-color);
		}

		/* Base */

		color: var(--switch-item-color);

		&::after {
			inset: var(--switch-item-background-inset);
			background: var(--switch-item-background);
		}

		.lucide-icon,
		.spinner {
			color: var(--switch-item-icon-color);
		}

		/* Disabled */

		&:is(:disabled, [aria-disabled='true'], [data-disabled='true']) {
			opacity: var(--opacity-dimmer);
			color: var(--switch-item-disabled-color, var(--switch-item-color));

			&::after {
				inset: var(--switch-item-disabled-background-inset, var(--switch-item-background-inset));
				background: var(--switch-item-disabled-background, var(--switch-item-background));
			}

			.lucide-icon,
			.spinner {
				color: var(--switch-item-disabled-icon-color, var(--switch-item-icon-color));
			}
		}

		/* Hover */

		&:hover {
			color: var(--switch-item-hover-color, var(--switch-item-color));

			&::after {
				inset: var(--switch-item-hover-background-inset, var(--switch-item-background-inset));
				background: var(--switch-item-hover-background, var(--switch-item-background));
			}

			.lucide-icon,
			.spinner {
				color: var(--switch-item-hover-icon-color, var(--switch-item-icon-color));
			}
		}

		/* Checked */

		&:is(:checked, :has(:checked), [data-state='checked'], [data-state='active'], [aria-checked='true'], [aria-selected='true']) {
			animation: var(--animate-press);
			color: var(--switch-item-checked-color, var(--switch-item-color));

			&::after {
				inset: var(--switch-item-checked-background-inset, var(--switch-item-background-inset));
				background: var(--switch-item-checked-background, var(--switch-item-background));
			}

			.lucide-icon,
			.spinner {
				opacity: 1;
				color: var(--switch-item-checked-icon-color, var(--switch-item-icon-color));
			}
		}

		/* Active */

		&:where(:active) {
			animation: var(--animate-press);
			color: var(--switch-item-active-color, var(--switch-item-color));

			&::after {
				inset: var(--switch-item-active-background-inset, var(--switch-item-background-inset));
				background: var(--switch-item-active-background, var(--switch-item-background));
			}

			.lucide-icon,
			.spinner {
				color: var(--switch-item-active-icon-color, var(--switch-item-icon-color));
			}
		}
	}
}
