.toggle {
	/* Public customizable props */
	--toggle-radius: var(--radius-full);

	/* Private props */
	--_toggle-thumb-expansion: 10%;
	--_toggle-block-size: calc(var(--base-block-size) - 2 * var(--base-nesting));
	--_toggle-width: calc(1.75 * var(--_toggle-block-size));
	--_toggle-bar-size: clamp(12px, 50%, 3px);

	/* Base */
	cursor: pointer;
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: var(--toggle-radius);
	color: var(--_toggle-color);
	user-select: none;
	transition: all var(--duration-medium) var(--ease-out-expo);

	/* Composition */

	/* Bar */
	&::before {
		content: '';
		position: absolute;
		border-radius: var(--toggle-radius);
		background: var(--_toggle-bar-bg);
		transition: all var(--duration-medium) ease-out;
	}

	/* Thumb */
	.toggle-thumb {
		position: absolute;
		transform-origin: left;
		height: var(--_toggle-block-size);
		width: var(--_toggle-block-size);
		border-radius: var(--radius-full);
		box-shadow: var(--_toggle-thumb-shadow);
		background: var(--_toggle-thumb-bg);
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all var(--duration-medium) var(--ease-out-expo);
	}

	/* Children icons */
	:--icon {
		width: calc(0.6 * var(--_toggle-block-size));
		stroke-width: 2.5;
		stroke-linecap: square;
		stroke-linejoin: round;
		opacity: 0.5;
		transform: scale(1);
		flex: none;
		transition:
			opacity var(--duration-medium) ease-out,
			transform var(--duration-fast) ease-out;
	}

	/* Fine-tuning */

	/* Orientation */
	&:not(:--vertical) {
		flex-direction: row;
		height: var(--_toggle-block-size);
		width: var(--_toggle-width);

		&::before {
			height: var(--_toggle-bar-size);
			aspect-ratio: 2;
			min-width: 50%;
			left: 50%;
			transform: translateX(-50%);
		}

		.toggle-thumb {
			left: 0;
		}
	}
	&:--vertical {
		flex-direction: column;
		height: var(--_toggle-width);
		width: var(--_toggle-block-size);

		&::before {
			width: var(--_toggle-bar-size);
			aspect-ratio: 1/2;
			min-height: 50%;
			top: 50%;
			transform: translateY(-50%);
		}

		.toggle-thumb {
			bottom: 0;
		}
	}

	/* States */

	/* Disabled */
	&:--disabled,
	&:has(:--disabled) {
		opacity: 0.5;
		pointer-events: none;
	}

	/* Focused */
	&:focus-visible {
		.toggle-thumb {
			outline: var(--base-focus-ring);
		}
	}

	/* Pointerdown */
	&:active {
		&:not(:--vertical) {
			.toggle-thumb {
				width: calc(var(--_toggle-block-size) + var(--_toggle-thumb-expansion));
			}
		}
		&:--vertical {
			.toggle-thumb {
				height: calc(var(--_toggle-block-size) + var(--_toggle-thumb-expansion));
			}
		}
	}

	&:--checked {
		&::before {
			background: var(--_toggle-checked-bar-bg);
		}

		.toggle-thumb {
			background: var(--_toggle-checked-thumb-bg);
			box-shadow: var(--_toggle-checked-thumb-shadow);

			:--icon {
				opacity: 1;
			}
		}

		&:not(:--vertical) {
			.toggle-thumb {
				left: calc(100% - var(--_toggle-block-size));
			}
		}
		&:--vertical {
			.toggle-thumb {
				bottom: calc(100% - var(--_toggle-block-size));
			}
		}

		&:active {
			&:not(:--vertical) {
				.toggle-thumb {
					left: calc(100% - var(--_toggle-block-size) - var(--_toggle-thumb-expansion));
				}
			}
			&:--vertical {
				.toggle-thumb {
					bottom: calc(100% - var(--_toggle-block-size) - var(--_toggle-thumb-expansion));
				}
			}
		}
	}

	/* Variants */

	/* Default */
	--_toggle-color: var(--color-neutral-300);
	--_toggle-bar-bg: color-mix(in srgb, var(--color-neutral-500) 25%, transparent);
	--_toggle-thumb-bg: var(--color-neutral-600);
	--_toggle-thumb-shadow: var(--shadow-sm);
	--_toggle-checked-color: var(--color-neutral-100);
	--_toggle-checked-thumb-shadow: var(--shadow-md);
	--_toggle-checked-thumb-bg: var(--color-primary-600);
	--_toggle-checked-bar-bg: var(--color-primary-800);

	:--dark & {
		--_toggle-color: var(--color-neutral-700);
		--_toggle-thumb-bg: var(--color-neutral-400);
		--_toggle-checked-thumb-bg: var(--color-primary-500);
		--_toggle-checked-color: var(--color-neutral-100);
		--_toggle-checked-bar-bg: var(--color-primary-700);
	}
}
