.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose :is(h1, h2, h3, h4, h5, h6) {
	font-optical-sizing: auto;
	/* font-family: var(--font-misc); */
}

.h1,
.prose h1 {
	font-weight: 550;
	font-size: var(--size-4xl);
	line-height: 1.1;
}
.h2,
.prose h2 {
	line-height: 1.125;
	font-weight: 525;
	/* letter-spacing: 0.005em; */
	font-size: var(--size-3xl);
}
.h3,
.prose h3 {
	line-height: 1.15;
	font-weight: 500;
	/* letter-spacing: 0.01em; */
	font-size: var(--size-2xl);
}
.h4,
.prose h4 {
	line-height: 1.225;
	font-weight: 475;
	/* letter-spacing: 0.015em; */
	font-size: var(--size-xl);
}
.h5,
.prose h5 {
	line-height: 1.25;
	font-weight: 450;
	/* letter-spacing: 0.02em; */
	font-size: var(--size-lg);
}
.h6,
.prose h6 {
	line-height: 1.275;
	font-weight: 425;
	/* letter-spacing: 0.025em; */
	font-size: var(--size-md);
}

small {
	font-size: var(--ratio-small);
}

em {
	font-weight: 450;
	font-style: italic;
}

b {
	font-weight: 500;
}

strong {
	font-weight: 600;
}

.prose {
	max-width: 65ch;
	line-height: var(--line-sparse);

	&:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6),
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		margin-block: min(2.369rem, 1.333em);
		color: var(--color-neutral-800);

		:--dark & {
			color: var(--color-neutral-300);
		}
	}

	&:is(p),
	p {
		margin-block: 1.333em;
	}

	&:is(q),
	q {
	}

	&:is(blockquote),
	blockquote {
	}

	&:is(ul),
	ul {
	}

	&:is(ol),
	ol {
	}

	&:is(li),
	li {
	}
}

/* Code syntax highlighting theme */
code[class*='language-'],
pre[class*='language-'] {
	color: var(--color-neutral-300);
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.6;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1rem;
	/* margin: 0.5em 0; */
	overflow: auto;
	border-radius: var(--base-radius);
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: var(--color-neutral-700);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: var(--base-radius);
	white-space: normal;
}

:not(pre) > code:not(.code) {
	background-color: color-mix(in srgb, var(--color-neutral-500) 10%, transparent);
	padding: 0.3em 0.5em;
	border-radius: var(--radius-xs);
}

code {
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: var(--color-neutral-500);
	}

	.token.punctuation {
		color: var(--color-primary-300);
	}

	.namespace {
		opacity: 0.7;
	}

	.token.property,
	.token.tag,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: var(--color-primary-300);
	}

	.token.number {
		color: #b48ead;
	}

	.token.boolean {
		color: var(--color-primary-300);
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: var(--color-secondary-400);
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable {
		color: var(--color-primary-300);
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.class-name {
		color: var(--color-secondary-300);
	}

	.token.keyword {
		color: var(--color-primary-300);
	}

	.token.regex,
	.token.important {
		color: var(--color-secondary-200);
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}

	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}
}
