:root {
	--font-main: 'Lexend';
	--font-display: 'Urbanist'; /* ou utiliser thicccboi ? */

	--xxs: 8px;
	--xs: 10px;
	--sm: 12px;
	--md: 14px;
	--lg: 17px;
	--xl: 20px;
	--xxl: 24px;
	--xxxl: 29px;
	--xxxxl: 35px;
}