/* Breakpoints */
@custom-media --sm (min-width: 30em);
@custom-media --md (min-width: 48em);
@custom-media --lg (min-width: 64em);
@custom-media --xl (min-width: 80em);

/* Mode selectors */
@custom-selector :--dark [data-mode='dark'];
@custom-selector :--light [data-mode='light'];

/* Setout (screen layout) */
@custom-selector :--setout-normal [data-setout='normal'];
@custom-selector :--setout-full-width [data-setout='full-width'];
@custom-selector :--setout-full-screen [data-setout='full-screen'];

/* Icon element (update according to used icon library) */
@custom-selector :--icon svg.lucide-icon;
/* Disabled state */
@custom-selector :--disabled :disabled, [aria-disabled='true'];
/* Open / expanded state */
@custom-selector :--open [aria-exepanded='true'], [data-state='open'];
/* Error or invalid field */
@custom-selector :--error [aria-invalid], [data-error='true'];
/* Loading state */
@custom-selector :--loading [data-loading='true'];
/* Checked state */
@custom-selector :--checked [data-state='checked'], :checked, :has(:checked);
/* When element contains focus-visible'd child */
@custom-selector :--focus-visible-within :has(:focus-visible);
/* Vertical element layout */
@custom-selector :--vertical [data-orientation='vertical'];
