/* Desktop-first breakpoints */
@custom-media --md (max-width: 48em);

/* Mode selectors */
@custom-selector :--dark [data-mode='dark'];
@custom-selector :--light [data-mode='light'];

/* Setout (screen layout) */
@custom-selector :--setout-normal [data-setout='normal'];
@custom-selector :--setout-full-width [data-setout='full-width'];
@custom-selector :--setout-full-screen [data-setout='full-screen'];

/* Icon element (update according to used icon library) */
@custom-selector :--icon svg.lucide-icon;
/* Disabled state */
@custom-selector :--disabled :disabled, [aria-disabled='true'], [data-disabled='true'];
/* Open / expanded state */
@custom-selector :--open [aria-exepanded='true'], [data-state='open'];
/* Error or invalid field */
@custom-selector :--error [aria-invalid], [data-error='true'];
/* Successfully validated field or success state */
@custom-selector :--success [aria-valid], [data-success='true'];
/* Loading state */
@custom-selector :--loading [data-loading='true'];
/* Checked state */
@custom-selector :--checked [data-state='checked'], [data-state='active'], :checked, :has(:checked);
/* When element contains focus-visible'd child */
@custom-selector :--focus-visible-within :has(:focus-visible);
/* Vertical element layout */
@custom-selector :--vertical [data-orientation='vertical'];

/* Update base tokens to make things more compact where needed */
@define-mixin compact {
	--base-block-size: 2.5em;
	--base-inline-padding: 1em;
	--base-nesting: 2px;
}

/* Opposite of compact, makes base sizes larger for when attention is needed. */
@define-mixin big {
	--base-block-size: 4.5em;
	--base-inline-padding: 1.8em;
	--base-nesting: max(5px, 0.5em);
}

@define-mixin h1 {
	font-weight: 550;
	font-size: var(--size-4xl);
	line-height: 1.1;
	font-optical-sizing: auto;
}

@define-mixin h2 {
	line-height: 1.125;
	font-weight: 525;
	/* letter-spacing: 0.005em; */
	font-size: var(--size-3xl);
	font-optical-sizing: auto;
}

@define-mixin h3 {
	line-height: 1.15;
	font-weight: 500;
	/* letter-spacing: 0.01em; */
	font-size: var(--size-2xl);
	font-optical-sizing: auto;
}

@define-mixin h4 {
	line-height: 1.225;
	font-weight: 475;
	/* letter-spacing: 0.015em; */
	font-size: var(--size-xl);
	font-optical-sizing: auto;
}

@define-mixin h5 {
	line-height: 1.25;
	font-weight: 450;
	/* letter-spacing: 0.02em; */
	font-size: var(--size-lg);
	font-optical-sizing: auto;
}

@define-mixin h6 {
	line-height: 1.275;
	font-weight: 425;
	/* letter-spacing: 0.025em; */
	font-size: var(--size-md);
	font-optical-sizing: auto;
}
