---
title: Chip
---

Chips, also sometimes referred to as tokens, are typically used as badges or as list of items such
as in the case of composable filter queries.

```svelte example
<span class="chip">Button</span>
```
