---
title: Switch
---

# Button

The button style encompasses both functional buttons and navigation buttons (i.e. links that are not
inlined inside prose).

This style should not be used for elements where nested buttons are expected. An example case would
be a `select` element with sibling buttons: this could be implemented as a `button-group` or an
`input-group` depending on the desired outcome.

```svelte example
<script>
</script>

<button class="button">Button</button>
```
