@use '../misc.css';

.dialog-overlay {
	--dialog-overlay-bg: radial-gradient(circle, var(--color-neutral-400), var(--color-neutral-300));
	position: fixed;
	inset: 0;
	z-index: 99;
	background: var(--dialog-overlay-bg);
	opacity: 0.85;

	:global(:--dark) & {
		--dialog-overlay-bg: radial-gradient(
			circle,
			var(--color-neutral-950),
			var(--color-neutral-900)
		);
	}
}

.dialog-wrap {
	--dialog-radius: var(--radius-xl);
	--dialog-bg: var(--color-neutral-50);
	--dialog-padding: 2.5rem;
	perspective: 900px;
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	pointer-events: none;
	z-index: 99;

	:global(:--dark) & {
		--dialog-bg: var(--color-neutral-900);
	}

	@media (--md) {
		align-items: center;
		padding: 2rem;
		justify-content: center;
	}
}

.dialog-content {
	position: relative;
	transform-origin: bottom center;
	outline: none;
	pointer-events: initial;
	padding: var(--dialog-padding);
	display: flex;
	flex-direction: column;
	border-radius: var(--dialog-radius) var(--dialog-radius) 0 0;
	/* border: var(--base-border-width) solid var(--base-border-color-dim); */
	overflow-y: auto;
	max-width: 100%;
	background-color: var(--dialog-bg);

	@media (--md) {
		transform-origin: center center;
		border-radius: var(--dialog-radius);
		justify-content: center;
	}
}

.dialog-header,
.dialog-content > header:first-of-type {
	display: flex;
	flex-direction: row;
	gap: 2em;
	position: relative;
	margin-bottom: var(--dialog-padding);
	justify-content: space-between;

	.dialog-header-text,
	& > hgroup {
		@mixin h4;
	}

	.dialog-header-menu,
	& > menu {
		@mixin compact;
		display: flex;
		flex-direction: row;
		gap: var(--base-gutter);
		font-size: var(--size-sm);
	}
}

.dialog-footer,
.dialog-content > footer:last-of-type {
	position: relative;
	font-size: var(--size-sm);
	margin-top: var(--dialog-padding);
}
