:root {
	--font-main: 'Outfit', sans-serif;
	--font-misc: 'Fraunces', serif;
	// --font-misc: 'Newsreader', serif;
	--font-mono: 'Martian Mono', monospace;
	--color-neutral-50: hsl(30, 10%, 98%);
	--color-neutral-100: hsl(30, 9%, 94%);
	--color-neutral-200: hsl(30, 8%, 89%);
	--color-neutral-300: hsl(34, 7%, 78%);
	--color-neutral-400: hsl(34, 6%, 59%);
	--color-neutral-500: hsl(35, 5%, 45%);
	--color-neutral-600: hsl(33, 6%, 32%);
	--color-neutral-700: hsl(30, 7%, 22%);
	--color-neutral-800: hsl(32, 8%, 16%);
	--color-neutral-900: hsl(34, 9%, 11%);
	--color-neutral-950: hsl(30, 10%, 8%);
	--color-primary-50: hsl(152, 81%, 96%);
	--color-primary-100: hsl(149, 80%, 90%);
	--color-primary-200: hsl(152, 76%, 80%);
	--color-primary-300: hsl(156, 72%, 67%);
	--color-primary-400: hsl(158, 64%, 52%);
	--color-primary-500: hsl(160, 84%, 39%);
	--color-primary-600: hsl(161, 94%, 30%);
	--color-primary-700: hsl(163, 94%, 24%);
	--color-primary-800: hsl(163, 88%, 20%);
	--color-primary-900: hsl(164, 86%, 15%);
	--color-primary-950: hsl(166, 91%, 9%);
	--color-secondary-50: hsl(33, 84%, 80%);
	--color-secondary-100: hsl(34, 84%, 80%);
	--color-secondary-200: hsl(35, 83%, 74%);
	--color-secondary-300: hsl(36, 82%, 69%);
	--color-secondary-400: hsl(37, 81%, 65%);
	--color-secondary-500: hsl(38, 80%, 61%);
	--color-secondary-600: hsl(39, 79%, 57%);
	--color-secondary-700: hsl(38, 78%, 52%);
	--color-secondary-800: hsl(37, 77%, 46%);
	--color-secondary-900: hsl(36, 76%, 39%);
	--color-secondary-950: hsl(35, 76%, 39%);
	--color-success-50: hsl(89, 86%, 88%);
	--color-success-100: hsl(89, 84%, 83%);
	--color-success-200: hsl(89, 72%, 75%);
	--color-success-300: hsl(89, 68%, 64%);
	--color-success-400: hsl(89, 68%, 52%);
	--color-success-500: hsl(89, 75%, 43%);
	--color-success-600: hsl(89, 78%, 35%);
	--color-success-700: hsl(89, 79%, 30%);
	--color-success-800: hsl(89, 80%, 24%);
	--color-success-900: hsl(89, 83%, 18%);
	--color-success-950: hsl(89, 82%, 12%);
	--color-error-50: hsl(8, 84%, 84%);
	--color-error-100: hsl(8, 79%, 78%);
	--color-error-200: hsl(8, 78%, 69%);
	--color-error-300: hsl(8, 78%, 63%);
	--color-error-400: hsl(8, 79%, 58%);
	--color-error-500: hsl(8, 80%, 54%);
	--color-error-600: hsl(8, 80%, 50%);
	--color-error-700: hsl(8, 82%, 44%);
	--color-error-800: hsl(8, 84%, 37%);
	--color-error-900: hsl(8, 86%, 29%);
	--color-error-950: hsl(8, 89%, 20%);
	--size-2xs: 0.5rem;
	--size-xs: 0.625rem;
	--size-sm: 0.8rem;
	--size-md: 1rem;
	--size-lg: 1.25rem;
	--size-xl: 1.5rem;
	--size-2xl: 2rem;
	--size-3xl: 2.75rem;
	--size-4xl: 3.75rem;
	--size-5xl: 5.5rem;
	--space-3xs: 0.25em;
	--space-2xs: 0.5em;
	--space-xs: 0.75em;
	--space-sm: 1em;
	--space-md: 1.25em;
	--space-lg: 1.75em;
	--space-xl: 2.25em;
	--space-2xl: 2.75em;
	--space-3xl: 3.5em;
	--space-4xl: 5em;
	--space-5xl: 7em;
	--radius-2xs: 6px;
	--radius-xs: 8px;
	--radius-sm: 12px;
	--radius-md: 16px;
	--radius-lg: 24px;
	--radius-xl: 32px;
	--radius-2xl: 48px;
	--radius-3xl: 72px;
	--radius-full: 999px;
}

:root {
	font-size: 100%;
	font-family: var(--font-main);
	color: var(--color-neutral-500);
	background-color: var(--color-neutral-100);
}

body {
	font-size: var(--size-md);
}
